<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>CopperExport [[version]]</string>
	<key>CFBundleIdentifier</key>
	<string>org.zzamboni.iphotoexport.copper</string>
	<key>CFBundleShortVersionString</key>
	<string>[[version]]</string>
	<key>IFMajorVersion</key>
	<integer>0</integer>
	<key>IFMinorVersion</key>
	<integer>0</integer>
	<key>IFPkgFlagAllowBackRev</key>
	<true/>
	<key>IFPkgFlagAuthorizationAction</key>
	<string>AdminAuthorization</string>
	<key>IFPkgFlagBackgroundAlignment</key>
	<string>right</string>
	<key>IFPkgFlagBackgroundScaling</key>
	<string>proportional</string>
	<key>IFPkgFlagDefaultLocation</key>
	<string>/</string>
	<key>IFPkgFlagFollowLinks</key>
	<true/>
	<key>IFPkgFlagInstallFat</key>
	<false/>
	<key>IFPkgFlagInstalledSize</key>
	<integer>0</integer>
	<key>IFPkgFlagIsRequired</key>
	<false/>
	<key>IFPkgFlagOverwritePermissions</key>
	<false/>
	<key>IFPkgFlagRelocatable</key>
	<false/>
	<key>IFPkgFlagRestartAction</key>
	<string>NoRestart</string>
	<key>IFPkgFlagRootVolumeOnly</key>
	<false/>
	<key>IFPkgFlagUpdateInstalledLanguages</key>
	<false/>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000149011612</real>
	<key>IFPkgPathMappings</key>
	<dict>
		<key>./Applications/iPhoto.app</key>
		<string>{UserLocation}</string>
	</dict>
	<key>IFRequirementDicts</key>
	<array>
		<dict>
			<key>LabelKey</key>
			<string>CpgExpReqLabelKey1</string>
			<key>MessageKey</key>
			<string>CpgExpReqMessageKey1</string>
			<key>SpecArgument</key>
			<string>/System/Library/CoreServices/SystemVersion.plist</string>
			<key>SpecProperty</key>
			<string>ProductVersion</string>
			<key>SpecType</key>
			<string>plist</string>
			<key>TestObject</key>
			<string>10.3</string>
			<key>TestOperator</key>
			<string>&gt;=</string>
			<key>TitleKey</key>
			<string>CpgExpReqTitleKey1</string>
		</dict>
	</array>
</dict>
</plist>
