<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserLocation</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.iPhoto</string>
			<key>path</key>
			<string>/Applications/iPhoto.app</string>
			<key>searchPlugin</key>
			<string>CommonAppSearch</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/iPhoto.app</string>
			<key>searchPlugin</key>
			<string>CheckPath</string>
		</dict>
	</array>
</dict>
</plist>
